@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Old+Standard+TT');

* {
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 50px;
	text-align: center;
	padding-top: 1em;
}

h1, h2 {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

.portfolio {
	margin-top: 10px;
	margin-bottom: 10px;
	color: 
}

.about {
	color: ;

}

.Portfolio_Container {
	margin-top: 10px;
}

.AboutPortfolio {
	text-align: center;
}

.Portfolio_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 10px;
}

.About_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 20px;
}

p {
	color: #38393a;
}

.collabTitle, .timesTitle, .criticTitle, .marsTitle {
	font-family: 'Old Standard TT', serif;
	color: black;
	margin-top: 40px;
	color: #38393a;
    font-size: 24px;
}

.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
	text-align: justify;
}

footer {
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Old Standard TT', serif;
	color: black;
	text-align: center;
	margin-top: 60px;
}

.email, .phone {
	display: inline-block;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Old Standard TT', serif;
} 

.Portfolio_Container{
	text-align: center;
}

img {
	margin-bottom: 30px;
	margin-right: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
}

.project {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px
}

.mars {
	background-image:url("mars.png");
	display: inline-block;
	border-radius: 4px;
}

.critic {
	background-image:url("critic.png");
	display: inline-block;
	border-radius: 4px;
}

.NYTimes {
	background-image:url("NYTimes.png");
	display: inline-block;
	border-radius: 4px;
}

.collab {
	background-image:url("collab.png");
	display: inline-block;
	border-radius: 4px;
}

.marsButtons 
	margin-top: 330px
}

.criticButtons 
	margin-top: 330px
}
.timesButtons 
	margin-top: 330px
}

.collabButtons 
	margin-top: 330px
}

.button {
	color: #363636;
	width: 120px;
    height: 45px;
}

.title, .subtitle {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
}

.subtitle {
	text-align: justify;
}

ul {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
}

.CollabLiveButton {
	position: absolute;
	right: 30%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}

.CollabGitButton {
	position: absolute;
	right: 20%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}

body {
	background-color: white;
	height: 100%;
	position: relative;
}

.Page1 {
	padding-bottom: 28px;
}

.pitch {
	color:#38393a;
	text-align: center;
	font-family: 'Old Standard TT', serif;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}

.about, .portfolio {
	font-weight: normal;
}

nav {
	background-color: white;
}

.column {
  margin: 20px;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.collab:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1);
	cursor: pointer;
}

.NYTimes:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1);
	cursor: pointer;
}

.critic:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1);
	cursor: pointer;
}

.mars:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1);
	cursor: pointer;
}

.columns {
	display: block;
	margin-top: 30px;
}

.fa-envelope {
	float: right;
	padding-right: 40px;
	color: black;
}

.gallery-wrapper {
	width: 2550px;
	height: 370px;
	overflow: inherit;
	left: 0px;
}

.gallery ul li {
	display: block;
}

.gallery ul {
	width: 100%;
	left: 0;
	height: 300px;
}

.previous {
	position: absolute;
	left: 3%;
	top: 30%;
	font-size: 40px;
}

.next {
	position: absolute;
	right: 3%;
	top: 30%;
	font-size: 40px;
}

.columns {
	margin: 5px;
}

.email, .phone {
	color: black;
}

.icon:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
	color: #00d1b2;
}

.lbutton:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
	color: #00d1b2;
}

footer {
margin-top: 300px;
}

.line {
	width: 40%;
	left: 30%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}


.line2 {
	width: 40%;
	left: 30%;
	border-top: 1px solid;
	position: absolute;
	top: 70%
	z-index: -1;
	margin-top: 10px;
}

a {
	color: black;
}

.fa {
	padding-left: 3px;
	padding-bottom: 5px;
}

@media only screen and (min-width: 320px) {
	.project {
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		width: 90%;
		height: 160px;
		margin-top: 20px;
	}

	.marsButtons {
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-bottom: 15px;
    }

	body {
		width: 100%;
		height: 100%;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 100%;
	}

	.gallery ul li {
		display: block;
	}

	footer {
		margin-top: 2150px;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	.Page2 footer {
		margin-top: 50px;
	}

	.column {
		width: 100%;
	}
	.Portfolio_Container {
	margin: 0 auto;
	width: 100%;
	}

	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
		padding: 20px;
	}
	.pitch {
		padding-left: 7px;
		padding-right: 7px;
	}

}

@media only screen and (min-width: 375px) {
	.project {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
	}

	.marsButtons {
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-bottom: 15px;
    }

    footer {
		margin-top: 1970px;
	}
}

@media only screen and (min-width: 414px) {
	.project {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: 8px;
	}

	.marsButtons {
	margin-left: 0px;
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-left: 0px;
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-left: 0px;
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-left: 0px;
    	margin-bottom: 15px;
    }
    .Portfolio_Container {
	margin: 0 auto;
	width: 100%;
	}
	.pitch {
		padding-left: 8px;
		padding-right: 8px;
	}

}


@media only screen and (min-width: 640px) {
    .project {
		width: 90%;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: -35px;
	}
	body {
		width: 100%;
		height: 1750px;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 680px;
	}

	.gallery ul li {
		display: block;
	}

	.column {
		width: 100%;
	}
	footer {
		margin-top: 2130px;
	}

}

@media only screen and (min-width: 768px) {
	body {
		height: 100%;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	footer {
		margin-top: 1950px;
	}

	.gallery-wrapper {
		overflow: inherit;
		margin: 0 auto;
	}

	.gallery ul li {
		display: block;
	}

	.marsButtons {
	margin-bottom: 20px;
	}

	.criticButtons {
	margin-bottom: 20px;
	}
	.timesButtons {
	margin-bottom: 20px;
	}

	.collabButtons {
	margin-bottom: 20px;
	}

    .project {
    margin-bottom: 50px;
    width: 100%;
    height: 196px;
    margin: 5px;
    }

    .column {
		width: 80%;
	}

	.mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.Portfolio_Container {
		margin: 0 auto;
		width: 55%;
	}
	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 10px;
	}
}

@media only screen and (min-width: 1024px) {
	body {
		height: 100%;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	footer {
		margin-top: 1950px;
		padding: 3em 0 1em 0;
	}

	footer {
		margin-top: 1950px;
	}

	.Page2 footer {
		margin-top: 400px;
		padding-bottom: 120px;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 650px;
		margin: 0 auto;
	}

	.gallery ul li {
		display: block;
	}

	.columns {
	margin: 5px;
    }

    .column {
		width: 60%;
	}

	.mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.Portfolio_Container {
	margin: 0 auto;
	width: 70%;
	}

	.project {
	width: 600px;
    height: 300px;
	}

	.mars {
	box-shadow: none;
	}

	.critic {
	box-shadow: none;
	}

	.NYTimes {
	box-shadow: none;
	}

	.collab {
	box-shadow: none;
	}
	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 20px;
	padding: 10px;
	}
	.pitch {
		padding-left: 18px;
		padding-right: 18px;
	}
}

@media only screen and (min-width: 1280px) {

	.gallery-wrapper {
	width: 600px;
	height: 370px;
	overflow: inherit;
	margin: 0 auto;
	}

	.gallery ul li {
	display: block;
	}

	.project {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px;
	margin-top: 40px;
	}
	.marsButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	.criticButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}
	.timesButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	.collabButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	body {
	background-color: white;
	height: 100%;
	}

	.previous {
	position: absolute;
	left: 3%;
	top: 30%;
	font-size: 40px;
	}

	.next {
	position: absolute;
	right: 3%;
	top: 30%;
	font-size: 40px;
	}

	footer {
	margin-top: 2050px;
	}

	.columns {
	margin: 5px;
    }

    .mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 0px;
	}

}




