@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One');
@import url('https://fonts.googleapis.com/css?family=Old+Standard+TT');
@import url('https://fonts.googleapis.com/css?family=Fjalla+One|Old+Standard+TT');

* {
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 50px;
	text-align: center;
	padding-top: 1em;
}

h1, h2 {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

.portfolio {
	margin-top: 10px;
	margin-bottom: 10px;
	color: 
}

.about {
	color: ;

}

.Portfolio_Container {
	margin-top: 10px;
}

.AboutPortfolio {
	text-align: center;
}

.Portfolio_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 20em;
	margin-bottom: 10px;
}

.Portfolio_UXTitle {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 10px;
}

.About_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 2em;
	margin-bottom: 20px;
}

p {
	color: #38393a;
}

.collabTitle, .timesTitle, .criticTitle, .marsTitle, .moxieTitle {
	font-family: 'Old Standard TT', serif;
	color: black;
	margin-top: 40px;
	color: #38393a;
    font-size: 24px;
}

.collabDescription, .timesDescription, .criticDescription, .marsDescription, .moxieDescription {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
	text-align: justify;
}

footer {
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Old Standard TT', serif;
	color: black;
	text-align: center;
	margin-top: 60px;
}

.email, .phone {
	display: inline-block;
	font-size: 20px;
	font-family: 'Fjalla One', sans-serif;
	font-family: 'Old Standard TT', serif;
} 

.Portfolio_Container{
	text-align: center;
}

img {
	margin-bottom: 30px;
	margin-right: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
}

.project {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px
}

.project2 {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px
}

.mars {
	background-image:url("mars.png");
	display: inline-block;
	border-radius: 4px;
}

.critic {
	background-image:url("critic.png");
	display: inline-block;
	border-radius: 4px;
}

.NYTimes {
	background-image:url("NYTimes.png");
	display: inline-block;
	border-radius: 4px;
}

.collab {
	background-image:url("collab.png");
	display: inline-block;
	border-radius: 4px;
}

.event {
	background-image:url("EPpic.png");
	display: inline-block;
	border-radius: 4px;
}

.moxie {
	background-image:url("moxiePic.png");
	display: inline-block;
	border-radius: 4px;
}

.mobilePic {
	height: 500px;
	margin-left: 45%;
}

.header2 {
	position: absolute;
	left: 21%;
	top: 3%;
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
    font-size:44px;
    color: #0FD1C3;
}

.pageLink2 {
	font-family: 'Fjalla One', sans-serif;
	margin-left: 5px;
	position: fixed;
	margin-left: 10px;
	top: 10px;
}

.pageLink2:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
	color: #00d1b2;
}

.intro {
	font-family: 'Old Standard TT', serif;
	margin: 0 auto;
	width: 65%;
	font-size: 18px;
}

.bold, .bold1, .bold2, .bold3, .bold4, .bold5, .bold6, .bold7, .bold8 {
	font-weight: 600;
}

.title1, .title2, .title3 {
	font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 40%;
    margin-top: 100px;
}

.title2 {
	margin-left: 38%;
}

.title3 {
	margin-left: 41%;
	margin-top: 70px;
}

.subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6, .subtitile7{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	margin-top: 35px;
}

.subtitle2, .subtitle3 {
	margin-top: 65px;
}

.subtitile6 {
	margin-top: 25px;
}

.subtitle7 {
	margin-top: 42%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
}

.subtitle6 {
	margin-left: 40%;
}

.competText, .interviewText, .affinityText, .summaryText, .flowText, .lowfiText, .mediumText, .protoTakes, .hifiText, .nextText, .conclusionText {
	font-family: 'Old Standard TT', serif;
	color: #38393a;
	font-size: 18px;
	margin: 0 auto;
	width: 65%;
}
.conclusionText {
	margin-top: 20px;
	margin-bottom: 20px;
}

.hifiText {
	margin-top: 35px;
}

.summaryText {
	margin-bottom: 20px;
	margin-top: 50px;
}

.timing {
	font-family: 'Old Standard TT', serif;
	font-size: 19px;
	font-weight: bold;
	color: #38393a;
}

.tablePic {
	height: 500px;
	margin-left: 26%;
	margin-bottom: 0px;
}

.affinityPic {
	height: 340px;
	margin-left: 32%;
	position: absolute;
	right: 10%;
	top: 26%;
	margin-top: 30px;
}

.userPic {
	height: 400px;
	margin-left: 27%;
}

.sketchPic {
	width: 425px;
	margin-left: 31%;
}

.proto1Pic {
	margin-left: 21%;
	margin-bottom: 0px;
}

.beforeAfter1Pic {
	margin-left: 18%;
	margin-bottom: 45px;
}

.beforeAfter2Pic {
	margin-left: 24%;
	margin-bottom: 45px;
}

.beforeAfter3Pic {
	margin-left: 26%;
	margin-bottom: 0px;
}

.hifiPic {
	height: 550px;
	position: absolute;
	left: 10%;
}

.protoLink {
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	margin-left: 41%;
	padding-bottom: 4px;
	color: #38393a;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
}

.notificationsPic {
	height: 550px;
	position: absolute;
	right: 10%;
}

.Page2 ul {
	width: 65%;
	margin: 0 auto;
	list-style: circle;
	padding-left: 3%;
}

.Page2 img {
	padding-bottom: 30px;
}

.Page2 footer {
	margin-top: 50px;
	padding-bottom: 30px;
}

.firstLi {
	font-weight: bold;
}

.marsButtons 
	margin-top: 330px
}

.criticButtons 
	margin-top: 330px
}
.timesButtons 
	margin-top: 330px
}

.collabButtons 
	margin-top: 330px
}

.button {
	color: #363636;
	width: 120px;
    height: 45px;
}

.title, .subtitle {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
}

.subtitle {
	text-align: justify;
}

ul {
	color: #38393a;
	font-family: 'Old Standard TT', serif;
	font-size: 18px;
	width: 80%;
	margin: 0 auto;
}

.CollabLiveButton {
	position: absolute;
	right: 30%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}

.CollabGitButton {
	position: absolute;
	right: 20%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}

body {
	background-color: white;
	height: 100%;
	position: relative;
}

.Page1 {
	padding-bottom: 28px;
}

.pitch {
	color:#38393a;
	text-align: center;
	font-family: 'Old Standard TT', serif;
	margin-top: 30px;
	margin-bottom: 30px;
	font-size: 20px;
}

.about, .portfolio {
	font-weight: normal;
}

nav {
	background-color: white;
}

.column {
  margin: 20px;
  display: block;
  width: 50%;
  margin: 0 auto;
}

.collab:hover {
	cursor: pointer;
}

.NYTimes:hover {
	cursor: pointer;
}

.critic:hover {
	cursor: pointer;
}

.mars:hover {
	cursor: pointer;
}

.event:hover {
	cursor: pointer;
}

.columns {
	display: block;
	margin-top: 30px;
}

.fa-envelope {
	float: right;
	padding-right: 40px;
	color: black;
}

.gallery-wrapper {
	width: 2550px;
	height: 370px;
	overflow: inherit;
	left: 0px;
}

.gallery ul li {
	display: block;
}

.gallery ul {
	width: 100%;
	left: 0;
	height: 300px;
}

.previous {
	position: absolute;
	left: 3%;
	top: 30%;
	font-size: 40px;
}

.next {
	position: absolute;
	right: 3%;
	top: 30%;
	font-size: 40px;
}

.columns {
	margin: 5px;
}

.email, .phone {
	color: black;
}

.icon:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
	color: #00d1b2;
}

.lbutton:hover {
	transition: all 200ms ease-in;
	transform: scale(1.1); 
	color: #00d1b2;
}

footer {
margin-top: 300px;
}

.line {
	width: 40%;
	left: 30%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}


.line2 {
	width: 40%;
	left: 30%;
	border-top: 1px solid;
	position: absolute;
	top: 70%
	z-index: -1;
	margin-top: 10px;
}

.line3 {
	width: 40%;
	left: 27%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}

.line4 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}

.line5 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}

a {
	color: black;
}

.fa {
	padding-left: 3px;
	padding-bottom: 5px;
}

@media only screen and (min-width: 320px) {
	.project {
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		width: 90%;
		height: 160px;
		margin-top: 20px;
	}

	.project2 {
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		width: 90%;
		height: 160px;
		margin-top: 20px;
	}

	.marsButtons {
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-bottom: 15px;
    }

	body {
		width: 100%;
		height: 100%;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 100%;
	}

	.gallery ul li {
		display: block;
	}

	footer {
		margin-top: 2150px;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	.Page2 footer {
		margin-top: 50px;
	}

	.column {
		width: 100%;
	}
	.Portfolio_Container {
	margin: 0 auto;
	width: 100%;
	}

	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
		padding: 20px;
	}
	.pitch {
		padding-left: 7px;
		padding-right: 7px;
	}

}

@media only screen and (min-width: 375px) {
	.project {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
	}

	.project2 {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
	}

	.marsButtons {
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-bottom: 15px;
    }

    footer {
		margin-top: 1970px;
	}

	.mobilePic {
		height: 400px;
		margin-left: 24%;
	}
	.header2 {
	position: absolute;
	left: 27%;
	top: 4%;
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
    font-size:36px;
    color: #0FD1C3;
	}
	.intro {
		margin-top: 30px;
	}
	.title1, .title2, .title3 {
	font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 20%;
    margin-top: 100px;
	}
	.subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6, .subtitile7{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 26%;
	margin-bottom: 15px;
	margin-top: 35px;
	}
	.tablePic {
	height: 300px;
	margin-left: 4%;
	margin-bottom: 0px;
	}
	.title3 {
	margin-left: 30%;
	margin-top: 100px;
	}
	.affinityPic {
	height: 230px;
	margin-left: 32%;
	position: absolute;
	right: 16%;
	top: 30%;
	margin-top: 10px;
	}
	.subtitle4 {
		margin-left: 37%;
	}
	.sketchPic {
	width: 325px;
	margin-left: 7%;
	}
	.proto1Pic {
	margin-left: 0%;
	margin-bottom: 0px;
	}
	.beforeAfter1Pic {
	margin-left: 0%;
	margin-bottom: 45px;
	}
	.beforeAfter2Pic {
	margin-left: 0%;
	margin-bottom: 45px;
	}

	.beforeAfter3Pic {
	margin-left: 0%;
	margin-bottom: 0px;
	}
	.hifiPic {
	height: 450px;
	position: absolute;
	left: 0%;
	}
	.notificationsPic {
	height: 300px;
	position: absolute;
	right: 7%;
	margin-top: 400px;
	}
	.subtitle7 {
	margin-top: 189%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}
	.protoLink {
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	margin-left: 30%;
	padding-bottom: 4px;
	color: #38393a;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	}
	.summaryText {
	margin-bottom: 20px;
	margin-top: 220px;
	}
	.userPic {
	height: 400px;
	margin-left: 0%;
	}
	.Portfolio_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 15em;
	margin-bottom: 10px;
	}
}

@media only screen and (min-width: 414px) {
	.project {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: 8px;
	}

	.project2 {
		width: 80%;
		height: 170px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: 8px;
	}

	.marsButtons {
	margin-left: 0px;
    margin-bottom: 15px;
	}

	.criticButtons {
    margin-left: 0px;
    margin-bottom: 15px;
    }

    .timesButtons {
    	margin-left: 0px;
    	margin-bottom: 15px;
    }

    .collabButtons {
    	margin-left: 0px;
    	margin-bottom: 15px;
    }
    .Portfolio_Container {
	margin: 0 auto;
	width: 100%;
	}
	.pitch {
		padding-left: 8px;
		padding-right: 8px;
	}
	.tablePic {
	height: 300px;
	margin-left: 8%;
	margin-bottom: 0px;
	}
	.affinityPic {
	height: 250px;
	margin-left: 32%;
	position: absolute;
	right: 16%;
	top: 29%;
	margin-top: 40px;
	}
}


@media only screen and (min-width: 640px) {
    .project {
		width: 90%;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: -35px;
	}
	.project2 {
		width: 90%;
		height: 300px;
		background-size: cover;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
		margin-left: -35px;
	}
	body {
		width: 100%;
		height: 1750px;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 500px;
	}

	.gallery ul li {
		display: block;
	}

	.column {
		width: 100%;
	}
	footer {
		margin-top: 2130px;
	}

}

@media only screen and (min-width: 768px) {
	body {
		height: 100%;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	footer {
		margin-top: 1950px;
	}

	.gallery-wrapper {
		overflow: inherit;
		margin: 0 auto;
	}

	.gallery ul li {
		display: block;
	}

	.marsButtons {
	margin-bottom: 20px;
	}

	.criticButtons {
	margin-bottom: 20px;
	}
	.timesButtons {
	margin-bottom: 20px;
	}

	.collabButtons {
	margin-bottom: 20px;
	}

    .project {
    margin-bottom: 50px;
    width: 110%;
    height: 250px;
    margin: 5px;
    }
    .project2 {
    margin-bottom: 50px;
    width: 110%;
    height: 250px;
    margin: 5px;
    }

    .column {
		width: 80%;
	}

	.mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.Portfolio_Container {
		margin: 0 auto;
		width: 65%;
	}
	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 10px;
	}
	.tablePic {
	height: 500px;
	margin-left: 26%;
	margin-bottom: 0px;
	}
	.mobilePic {
	height: 500px;
	margin-left: 45%;
	}
	.header2 {
	position: absolute;
	left: 21%;
	top: 3%;
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
    font-size:44px;
    color: #0FD1C3;
	}
	.intro {
		margin-top: 0px;
	}
	.title1, .title2, .title3 {
	font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 40%;
    margin-top: 100px;
	}
	.subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6, .subtitile7{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	margin-top: 35px;
	}
	.title2 {
	margin-left: 38%;
	}

	.title3 {
	margin-left: 41%;
	margin-top: 70px;
	}
	.subtitle2, .subtitle3 {
	margin-top: 65px;
	}

	.subtitile6 {
	margin-top: 25px;
	}

	.subtitle7 {
	margin-top: 42%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}

	.subtitle6 {
	margin-left: 40%;
	}
	.affinityPic {
	height: 300px;
	margin-left: 32%;
	position: absolute;
	right: 25%;
	top: 27%;
	margin-top: 35px;
	}
	.sketchPic {
	width: 425px;
	margin-left: 21%;
	}
	.proto1Pic {
	margin-left: 0%;
	margin-bottom: 0px;
	}
	.beforeAfter1Pic {
	margin-left: 0%;
	margin-bottom: 45px;
	}
	.beforeAfter2Pic {
	margin-left: 0%;
	margin-bottom: 45px;
	}

	.beforeAfter3Pic {
	margin-left: 0%;
	margin-bottom: 0px;
	}
	.hifiPic {
	height: 450px;
	position: absolute;
	left: 23%;
	}
	.notificationsPic {
	height: 300px;
	position: absolute;
	right: 27%;
	margin-top: 400px;
	}
	.subtitle7 {
	margin-top: 100%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}
	.protoLink {
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	margin-left: 41%;
	padding-bottom: 4px;
	color: #38393a;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	}
	.summaryText {
	margin-bottom: 20px;
	margin-top: 50px;
	}
	.userPic {
	height: 400px;
	margin-left: 14%;
	}
	.line3 {
	width: 40%;
	left: 32%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}
	.tablePic {
	height: 500px;
	margin-left: 7%;
	margin-bottom: 0px;
	}
	.affinityText {
		margin-top: 260px;
	}
	.line4 {
	width: 40%;
	left: 31%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}

	.line5 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}

}

@media only screen and (min-width: 1024px) {
	body {
		height: 100%;
	}

	.previous {
		top: 0%;
	}

	.next {
		top: 0%;
	}

	footer {
		margin-top: 1950px;
		padding: 3em 0 1em 0;
	}

	footer {
		margin-top: 1950px;
	}

	.Page2 footer {
		margin-top: 400px;
		padding-bottom: 120px;
	}

	.gallery-wrapper {
		overflow: inherit;
		width: 650px;
		margin: 0 auto;
	}

	.gallery ul li {
		display: block;
	}

	.columns {
	margin: 5px;
    }

    .column {
		width: 60%;
	}

	.mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.Portfolio_Container {
	margin: 0 auto;
	width: 70%;
	}

	.project {
	width: 600px;
    height: 300px;
	}

	.project2 {
	width: 600px;
	height: 300px;
	}

	.mars {
	box-shadow: none;
	}

	.critic {
	box-shadow: none;
	}

	.NYTimes {
	box-shadow: none;
	}

	.collab {
	box-shadow: none;
	}
	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 20px;
	padding: 10px;
	}
	.pitch {
		padding-left: 18px;
		padding-right: 18px;
	}
	.Page2 footer {
	margin-top: 50px;
	padding-bottom: 30px;
	}
	.mobilePic {
	height: 500px;
	margin-left: 45%;
	}
	.header2 {
	position: absolute;
	left: 21%;
	top: 3%;
	font-family: 'Old Standard TT', serif;
    font-family: 'Fjalla One', sans-serif;
    font-size:44px;
    color: #0FD1C3;
	}
	.intro {
		margin-top: 0px;
	}
	.title1, .title2, .title3 {
	font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
    color: black;
    margin-left: 40%;
    margin-top: 100px;
	}
	.subtitle1, .subtitle2, .subtitle3, .subtitle4, .subtitle5, .subtitle6, .subtitile7{
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	margin-top: 35px;
	}
	.title2 {
	margin-left: 38%;
	}

	.title3 {
	margin-left: 41%;
	margin-top: 70px;
	}
	.subtitle2, .subtitle3 {
	margin-top: 65px;
	}

	.subtitile6 {
	margin-top: 25px;
	}

	.subtitle7 {
	margin-top: 42%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}

	.subtitle6 {
	margin-left: 40%;
	}
	.affinityPic {
	height: 340px;
	margin-left: 30%;
	position: absolute;
	right: 29%;
	top: 27%;
	margin-top: 30px;
	}
	.sketchPic {
	width: 425px;
	margin-left: 31%;
	}
	.proto1Pic {
	margin-left: 12%;
	margin-bottom: 0px;
	}
	.beforeAfter1Pic {
	margin-left: 7%;
	margin-bottom: 45px;
	}
	.beforeAfter2Pic {
	margin-left: 19%;
	margin-bottom: 45px;
	}

	.beforeAfter3Pic {
	margin-left: 22%;
	margin-bottom: 0px;
	}
	.hifiPic {
	height: 550px;
	position: absolute;
	left: 24%;
	}
	.notificationsPic {
	height: 500px;
	position: absolute;
	right: 21%;
	margin-top: 490px;
	}
	.subtitle7 {
	margin-top: 100%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}
	.protoLink {
	border: 1px solid black;
	border-radius: 3px;
	font-family: 'Fjalla One', sans-serif;
	font-size: 18px;
	margin-left: 41%;
	padding-bottom: 4px;
	color: #38393a;
	padding-left: 4px;
	padding-right: 4px;
	padding-top: 3px;
	}
	.summaryText {
	margin-bottom: 20px;
	margin-top: 50px;
	}
	.userPic {
	height: 400px;
	margin-left: 27%;
	}
	.line3 {
	width: 40%;
	left: 30%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}
	.line4 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
}

	.line5 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}
	.tablePic {
	height: 500px;
	margin-left: 18%;
	margin-bottom: 0px;
	}
	.affinityText {
	margin-top: 20px;
	}
	.summaryText {
	margin-bottom: 20px;
	margin-top: 310px;
	}
	.Portfolio_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 18em;
	margin-bottom: 10px;
	}
}

@media only screen and (min-width: 1280px) {

	.gallery-wrapper {
	width: 600px;
	height: 370px;
	overflow: inherit;
	margin: 0 auto;
	}

	.gallery ul li {
	display: block;
	}

	.project {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px;
	margin-top: 40px;
	}

	.project2 {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px;
	margin-top: 40px;
	}
	.marsButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	.criticButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}
	.timesButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	.collabButtons {
	margin-top: 20px;
	margin-bottom: 20px;
	margin: 0 auto;
    width: 50%;
	}

	body {
	background-color: white;
	height: 100%;
	}

	.previous {
	position: absolute;
	left: 3%;
	top: 30%;
	font-size: 40px;
	}

	.next {
	position: absolute;
	right: 3%;
	top: 30%;
	font-size: 40px;
	}

	footer {
	margin-top: 2050px;
	}

	.columns {
	margin: 5px;
    }

    .mars {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.critic {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.NYTimes {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collab {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.event {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.moxie {
	box-shadow: 2px 2px 2px dimgrey;
	}

	.collabDescription, .timesDescription, .criticDescription, .marsDescription {
	margin-bottom: 0px;
	}
	.tablePic {
	height: 500px;
	margin-left: 26%;
	margin-bottom: 0px;
	}
	.affinityText {
	margin-top: 20px;
	}
	.line3 {
	width: 40%;
	left: 27%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}
	.line4 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}

	.line5 {
	width: 40%;
	left: 26%;
	border-top: 1px solid;
	position: absolute;
	top: 50%
	z-index: -1;
	}
	.summaryText {
	margin-bottom: 20px;
	margin-top: 55px;
	}
	.affinityPic {
	height: 340px;
	margin-left: 32%;
	position: absolute;
	right: 10%;
	top: 25%;
	margin-top: 10px;
	}
	.proto1Pic {
	margin-left: 21%;
	margin-bottom: 0px;
	}
	.beforeAfter1Pic {
	margin-left: 18%;
	margin-bottom: 45px;
	}
	.beforeAfter2Pic {
	margin-left: 24%;
	margin-bottom: 45px;
	}

	.beforeAfter3Pic {
	margin-left: 26%;
	margin-bottom: 0px;
	}
	.subtitle7 {
	margin-top: 70%;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 20px;
	margin-left: 42%;
	margin-bottom: 15px;
	}
	.hifiPic {
	height: 550px;
	position: absolute;
	left: 27%;
	}
	.notificationsPic {
	height: 400px;
	position: absolute;
	right: 37%;
	margin-top: 520px;
	}
	.Portfolio_Title {
	font-family: 'Old Standard TT', serif;
	font-family: 'Fjalla One', sans-serif;
	color: black;
	font-size: 40px;
	text-align: center;
	margin-top: 19em;
	margin-bottom: 10px;
	}
}




