@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One|Poiret+One');

* {
	margin: 0;
	padding: 0;
}

header {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 50px;
	text-align: center;
}

h1, h2 {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 30px;
	text-align: center;
	display: inline-block;
	margin-right: 20px;
}

.portfolio {
	margin-top: 10px;
	margin-bottom: 10px;
}

.Portfolio_Container {
	margin-top: 10px;
}

.AboutPortfolio {
	text-align: center;
}

.Portfolio_Title {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

.About_Title {
	font-family: 'Poiret One', cursive;
	color: white;
	font-size: 40px;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 20px;
}

footer {
	font-family: 'Poiret One', cursive;
	color: white;
	text-align: center;
	margin-top: 60px;
}

.email, .phone {
	display: inline-block;
	font-size: 20px;
} 

.Portfolio_Container{
	text-align: center;
}

img {
	margin-bottom: 30px;
	margin-right: 30px;
	padding-top: 40px;
	padding-bottom: 50px;
}

.project {
	width: 600px;
	height: 300px;
	background-size: cover;
	margin: 5px;
	margin-bottom: 20px;
}

.mars {
	background-image:url("mars.png");
	display: inline-block;
}

.critic {
	background-image:url("critic.png");
	display: inline-block;
}

.NYTimes {
	background-image:url("NYTimes.png");
	display: inline-block;
}

.collab {
	background-image:url("collab.png");
	display: inline-block;
}

.marsButtons {
	margin-top: 330px;
}

.criticButtons {
	margin-top: 330px;
}
.timesButtons {
	margin-top: 330px;
}

.collabButtons {
	margin-top: 330px;
}

p {
	color: white;
}

.CollabLiveButton {
	position: absolute;
	right: 30%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}

.CollabGitButton {
	position: absolute;
	right: 20%;
	background-color: #00d1b2;
	color: white;
	width: 100px;
	height: 30px;
	font-size: 16px;
	border-radius: 4px;
	border: none;
}


body {
	background-image: url("grey_wash_wall_@2X.png");
	height: 100%;
}

.Page1 {
	padding-bottom: 28px;
}

.about, .portfolio {
	font-weight: normal;
}

nav {
	background-image: url("grey_wash_wall_@2X.png");
}

.tile {
	display: inline-block;
}

.columns {
	display: inline-block;
	margin-top: 30px;
}

.fa-linkedin-square {
	float: right;
	padding-right: 30px;
}

.fa-envelope {
	float: right;
	padding-right: 40px;
}

.gallery-wrapper {
	width: 2550px;
	height: 370px;
	overflow: hidden;
	left: 0px;
	position: relative;
}

.gallery ul li {
	display: inline-block;
}

.gallery ul {
	list-style-type: none;
	width: 100%;
	left: 0;
	height: 300px;
	position: absolute;
}

.previous {
	position: absolute;
	left: 3%;
	top: 30%;
	font-size: 40px;
}

.next {
	position: absolute;
	right: 3%;
	top: 30%;
	font-size: 40px;
}

.columns {
	margin: 5px;
}

@media only screen and (max-width: 320px) {
	.project {
		width: 90%;
		height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
	}

	body {
		width: 100%;
	}
}


@media only screen and (max-width: 640px) {
	.marsButtons {
	margin-top: 330px;
	}

	.criticButtons {
    margin-top: 330px;
    }
    .project {
		width: 90%;
		height: 300px;
		background-size: contain;
		background-repeat: no-repeat;
		margin-top: 0 auto;
		margin-bottom: 20px;
	}
	body {
		width: 100%;
	}
}




